*{
    box-sizing: 0%;;
    margin:0;
}
body
{
    background-color: black;
}
.Menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    border: solid 10px #8AC926;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.menu_bay
{
    margin-left: 20px;
    margin-right: 20px;

    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition: 0.5s;
}
.menu_bay:hover
{
    color: #1982C4;
}
.contenedor_padre
{
    margin-top: 100px;
    height: 100%;
    display: flex;
    color:white;
}
.contenedor_padre .text
{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_padre .text_p
{
    margin-top: -20px;
    background-color: black;
    border: 5px solid #8AC926;
    border-top: none;
    width: 20%;
}

.cambiar
{
    position: fixed;
    bottom: 0;
    width: 40px;
    text-align: center;
    border: solid black 2px;
    background-color: #8AC926;
}

.menusito
{
    width: 100%;
    height: 300px;

    display: grid;
    grid-template-columns: repeat(3fr);
    grid-template-rows: repeat(2fr);
    grid-template-areas:  
    "h h h "
    "b b b "
    ;
}